@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow: hidden;
}

@keyframes radarSweep {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(3);
      opacity: 0;
    }
  }
  
  .radar-outline {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%) scale(1);
    animation: radarSweep 1.5s infinite ease-out;
    pointer-events: none; /* Prevents interaction with the radar outline */
  }
  
  
  