@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow: hidden;
}

/* Hide the scrollbar track for a clean look */
::-webkit-scrollbar {
  width: 6px;  /* Width of the scrollbar */
  height: 6px; /* Height of the scrollbar (for horizontal scrollbars) */
}

/* Handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5); /* Color of the scrollbar */
  border-radius: 10px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.8); /* Darker on hover */
}

/* Optional: Add a background to the track */
::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
  border-radius: 10px;
}


.radar-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
}

.icon-center {
  position: relative;
  z-index: 2;
}

.radar-ring {
  position: absolute;
  width: 35px;
  height: 35px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  animation: radar 1.5s infinite;
  z-index: 1;
}

.radar-ring:nth-child(2) {
  animation-delay: 0.2s;
}

.radar-ring:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes radar {
  0% {
      transform: scale(0.5);
      opacity: 1;
  }
  100% {
      transform: scale(2);
      opacity: 0;
  }
}
  
/* Add this to your global CSS file or in your Tailwind config */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin {
  animation: spin 1s linear infinite;
}


.custom-station-info-tooltip{
  margin-right: 100px !important;
  background-color: black !important;
}

/* Light Loading Spinner */
.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1); /* Light gray border */
  border-top: 4px solid #3498db; /* Light blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: loadingSpin 1s linear infinite; /* Smoother, faster rotation */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Ensure it appears above map */
}

@keyframes loadingSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Light Overlay for better UX */
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6); /* Light, semi-transparent background */
  z-index: 999; /* Ensure it's behind the spinner but above other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Optional text for Loading */
.loading-text {
  color: #3498db; /* Light blue color matching spinner */
  font-size: 1rem;
  margin-top: 10px;
  text-align: center;
}
